body{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    background-color: rgb(24, 22, 22);

}
.search{
    width: 600px;
    margin: 20px auto;
    display: flex;
}
.search-input{
    width: 80%;
    box-sizing: border-box;
    padding: 17px;
    background-color: rgb(17, 16, 16);
    color: rgb(248, 241, 241);
    border: none;
    cursor:auto;
    font-size: 17px;
    border-radius:12px;
}
.search-input:focus{
    outline:none;
    border:1px solid brown;
}
.btn{
    width: 25%;
    background-color: red;
    color: white;
    border: none;
    border-radius:12px;
}  
.container{

    width: 600px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;

}
.content{
    color: white;

}
.content p{
    margin:0 0 8px 0;
    font-size: 15px;
}
.poster{
    width: 230px;    
}
#title{
    margin-top: 0;
}
